# Database (PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=iot_db
POSTGRES_PORT=5432

# Backend API
PORT=3001
NODE_ENV=development
DATABASE_URL=postgres://postgres:postgres@localhost:5432/iot_db
JWT_SECRET=super-secret-iot-token-key-change-in-prod
ORIGIN=*

# Frontend Web
NEXT_PUBLIC_API_URL=http://localhost:3001
