PORT=3001
NODE_ENV=development
DATABASE_URL=postgres://postgres:postgres@localhost:5432/iot_db
JWT_SECRET=super-secret-iot-token-key-change-in-prod
ORIGIN=*
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
